html, body, #viewport  {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#viewport {
  z-index: 10;
}

#loading {
  background: black;
  color: white;
  text-align: center;
  font-size: 36px;
  font-family: Monospace;
  margin: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  transition: opacity 2s;
  z-index: 10;
}

#video-container {
  position: relative;
  top: 50%;
  width: 720px;

  /* Make height of container slightly shorter to crop green bar bug */
  height: 539px;
  overflow: hidden;

  margin: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.loading-videos {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

#warning-popup {
  z-index: 0;
  position: absolute;
  width: 720px;
  height: 540px;
  text-align: center;
  background-image: url("/assets/warning-popup.png");

  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);

  left: calc(50% - 360px);
  transition: opacity 1s;
  opacity: 0;
  pointer-events: none;
}

#warning-popup.active {
  opacity: 0.6;
  pointer-events: auto;
  z-index: 999;
}

body.loaded #loading {
  opacity: 0;
  pointer-events: none;
}

#hud {
  opacity: 0.6;
  border-radius 5px;
  padding 20px;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#hud #vr-toggle {
  border: 0;
  padding: 10px 20px;
  background: white;
  cursor: pointer;
  display: none;
}

#hud #vr-toggle.active {
  display: block !important;
}

#reset-camera {
  padding: 7px;
  border-radius: 0;
  background: black;
  color: white;
}
