html, body, #viewport  {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.loaded #loading {
  opacity: 0;
  pointer-events: none;
}

#loading {
  background: black;
  margin: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  transition: opacity 2s;
  z-index: 10;
}

#viewport {
  z-index: 10;
}

#video-container {
  position: absolute;
  width: 720px;
  /* Make height of container slightly shorter to crop green bar bug */
  height: 539px;
  overflow: hidden;
  top: calc(50% - 270px);
  left: calc(50% - 360px);
}

.loading-videos {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

#warning-popup {
  z-index: 0;
  position: absolute;
  width: 720px;
  height: 540px;
  text-align: center;
  background-image: url("../assets/warning-popup.png");

  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);

  left: calc(50% - 360px);
  transition: opacity 1s;
  opacity: 0;
  pointer-events: none;

  cursor: default;
}

#warning-popup.active {
  opacity: 0.6;
  pointer-events: auto;
  z-index: 999;
  cursor: pointer;
}

#controls {
  opacity: 0.6;
  border-radius 5px;
  padding 20px;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

#vr-toggle {
  border: 0;
  padding: 10px 20px;
  background: white;
  cursor: pointer;
  display: none;
}

#vr-toggle.active {
  display: block !important;
}

#reset-camera {
  padding: 7px;
  background: none;
  color: white;
  outline: none;
  border: none;
  font-size: 12px;
}

#info {
  opacity: 0.6;
  border-radius 5px;
  padding 20px;
  z-index: 1;
  position: absolute;
  bottom: 25px;
  left: 25px;
  font: normal normal normal 12px/normal 'Lucida Grande';
  color: white;
}

#info div {
  display: inline-block;
  margin-left: 10px;
}

#info img {
  height: 20px;
  transform: translateY(5px);
  margin-right: 5px;
}

#info a {
  text-decoration: none;
  color: white;
}
